@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

/** 
Reseteamos todos los valores 
*/
* {
    padding: 0;
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Cookie', Arial, Helvetica, sans-serif;
}

/** 
Creamos los estilos de la página 
*/

/** Cabecera */
header {
    box-shadow: 0 0 10px #006400;
}

header h1 {
    padding: 15px;
}

/**
 Contenido principal.
 Ten en cuenta el requisito para las pantallas menores de 400 píxeles.
 */
#flexBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tarjeta {
    width: 200px;
    height: auto;
    margin: 10px 5px;
}

.tarjeta img {
    display: block;
    margin: auto;
    width: 100%;
}

.tarjeta p {
    text-align: center;
}

/* Media query para pantallas menores de 400px */
@media screen and (max-width: 400px) {
    #flexBox {
        flex-direction: column;
    }
}
