@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

/** 
Reseteamos todos los valores 
*/
* {
    padding: 0;
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Cookie', Arial, Helvetica, sans-serif;
}

/** 
Creamos los estilos de la página 
*/

/** Cabecera */
header {

}

header h1 {

}

/**
 Contenido principal.
 Ten en cuenta el requisito para las pantallas menores de 400 píxeles.
 */
#flexBox {

}


.tarjeta {

}

.tarjeta img {

}

.tarjeta p {

}